@using Kendo.Mvc.UI
@model Mfr.Admin.Models.User.UserPasswordViewModel

    @using (Html.BeginForm("_PasswordEdit", "User", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        <section class="panel k-panelbar">
            <header class="panel-heading">
                <h3>Edit Password کاربر</h3>

            </header>
            @Html.HiddenFor(modelItem => modelItem.UserId)
            <div class="panel-body bio-graph-info">

                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                    <div class="col-lg-6">
                        @Html.PasswordFor(m => m.Password, new { @class = "k-textbox", style = "width:50%" })
                        @Html.ValidationMessageFor(c => c.Password, "", new { @class = "help-block" })
                        @Html.ValidationMessage("", "", new { @class = "help-block" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                    <div class="col-lg-6">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "k-textbox", style = "width:50%" })
                        @Html.ValidationMessageFor(c => c.ConfirmPassword, "", new { @class = "help-block" })
                        @Html.ValidationMessage("", "", new { @class = "help-block" })
                    </div>
                    @Html.ValidationMessage("PasswordChange", "", new { @class = "help-block" })
                </div>

                <div class="col-lg-offset-2 col-lg-10">
                    <input type="submit" value="Update" class="btn btn-info" />
                    <button type="button" class="btn btn-default">@Html.ActionLink("Cancel", "Index", "Home") </button>
                </div>

            </div>
        </section>
    }
@*////////////*@
<script src="~/Scripts/jquery.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
@*/////////////////////////*@

