@using Kendo.Mvc.UI
@model Mfr.Admin.Models.Account.EditViewModel
@using (Html.BeginForm("_CredentialsEdit", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
{
    <div class="panel-body bio-graph-info">
        <h1>User Account Information</h1>
        <div class="form-group">

            @Html.LabelFor(m => m.UserName, new {@class = "col-md-2 control-label"})
        
                @(Html.Kendo().TextBoxFor(model => model.UserName)
                      .HtmlAttributes(new {style = "width:50%"}))
                @Html.ValidationMessageFor(c => c.UserName, "", new {@class = "help-block"})
            
       </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })

            @(Html.Kendo().TextBoxFor(model => model.Name)
                  .HtmlAttributes(new { style = "width:50%" }))
            @Html.ValidationMessageFor(c => c.Name, "", new { @class = "help-block" })

            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.FamilyName, new { @class = "col-md-2 control-label" })

                @(Html.Kendo().TextBoxFor(model => model.FamilyName)
                  .HtmlAttributes(new { style = "width:50%" }))
                @Html.ValidationMessageFor(c => c.FamilyName, "", new { @class = "help-block" })

            </div>
        <div class="form-group">
            @Html.LabelFor(m => m.BirthDate, new { @class = "col-md-2 control-label" })
            <div class="col-lg-6">
                @Html.TextBoxFor(m => m.BirthDate, new { @class = "k-textbox", style = "width:50%" })
                @Html.ValidationMessageFor(c => c.BirthDate, "", new { @class = "help-block" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Phonenumber, new { @class = "col-md-2 control-label" })
            <div class="col-lg-6">
                @Html.TextBoxFor(m => m.Phonenumber, new { @class = "k-textbox", style = "width:50%" })
                @Html.ValidationMessageFor(c => c.Phonenumber, "", new { @class = "help-block" })
            </div>
        </div>


            <label class="col-lg-2 control-label">For changing the avatar</label>
            <div class="editor-field">

                @Html.TextBox("file", "", new { type = "file", @accept = "image/*" })
                @Html.ValidationMessage("Picture", "", new { @class = "help-block" })
            </div>
        </div>
       

        <div class="form-group">
            <div class="col-lg-offset-2 col-lg-10">
                <input type="submit" value="Update" class="btn btn-success" />
                <button type="button" class="btn btn-default">@Html.ActionLink("Cancel", "Index", "Home") </button>
            </div>
        </div>
        <script>
        $(document).ready(function() {
            $('#@Html.IdFor(p => p.BirthDate)').kendoDatePicker();

            $('#@Html.IdFor(p => p.Phonenumber)').kendoMaskedTextBox({
                mask: "0000-000-00-00"
            });
        });
        </script>
}
<script src="~/Scripts/jquery.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

