@using Kendo.Mvc.UI
@model Mfr.Admin.Models.Account.PasswordViewModel
@using (Html.BeginForm("_PasswordEdit", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <section>
        <div class="panel panel-primary">
            <div class="panel-heading">For changing the password and avatar</div>
            <div class="panel-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-2 control-label" })
                        <div class="col-lg-6">
                            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                            @Html.ValidationMessageFor(c => c.OldPassword, "", new { @class = "help-block" })
                            @Html.ValidationMessage("", "", new { @class = "help-block" })
                        </div>
                    </div>
                    <div class="form-group">

                        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                        <div class="col-lg-6">

                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(c => c.Password, "", new { @class = "help-block" })
                            @Html.ValidationMessage("", "", new { @class = "help-block" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                        <div class="col-lg-6">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                            @Html.ValidationMessageFor(c => c.ConfirmPassword, "", new { @class = "help-block" })
                            @Html.ValidationMessage("", "", new { @class = "help-block" })
                        </div>
                    </div>
                    @Html.ValidationMessage("PasswordChange", "", new { @class = "help-block" })

                    <div class="form-group">
                        <div class="col-lg-offset-2 col-lg-10">
                            <input type="submit" value="Update" class="btn btn-info" />
                            <button type="button" class="btn btn-default">@Html.ActionLink("Cancel", "Index", "Home") </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
}
@*////////////*@
<script src="~/Scripts/jquery.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
@*/////////////////////////*@